{% extends 'base.html' %}

{% block main %}

        <div class="game">
            <div class="game-body">
                <h3 class="game-title">{{ game.name }}</h3>
                <h6>{{ game.date }}</h6>
                <p class="game-text">{{ game.note }}</p>
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars
            </div>
            <div class="game-teams row">
                <div class="game-team col-6 alert alert-secondary" role="alert">
                    <h6>{{ game.team_one.name }}</h6>
                    {% for player in game.team_one.users.all %}
                        <ul>
                            <li>{{ player }}</li>
                        </ul>
                    {% endfor %}
                </div>
                <div class="game-team col-6 alert alert-light" role="alert">
                    <h6>{{ game.team_two.name }}</h6>
                    {% for player in game.team_two.users.all %}
                        <ul class="game-team">
                            <li>{{ player }}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.card -->

{% endblock %}