{% extends 'base.html' %}

{% block main %}

        <div class="card mt-4">
            <div class="card-body">
                <h3 class="card-title">{{ game.name }}</h3>
                <h6>{{ game.date }}</h6>
                <p class="card-text">{{ game.note }}</p>
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars
            </div>
            <div class="game-teams">
              team 1:
               {% for player in game.team_one.users.all %}
                <ul class="game-team">
                    <li>{{ player }}</li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <!-- /.card -->

{% endblock %}