{% extends 'base.html' %}

{% block main %}

    {% for game in games %}
        <div class="card mt-4">
            <div class="card-body">
                <h3 class="card-title">{{ game.name }}</h3>
                <h6>{{ game.date }}</h6>
                <p class="card-text">{{ game.note }}</p>
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars
                <div class="game-teams row">
                    <div class="col col-5 text-right">{{ game.team_one.name }}</div>
                    <div class="col-2 text-center">vs</div>
                    <div class="col col-5">{{ game.team_two.name }}</div>
                </div>
                <a href="{{ game.get_absolute_url }}" class="btn btn-primary">View details &rarr;</a>
            </div>
        </div>
        <!-- /.card -->
    {% endfor %}

    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Product Reviews
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
        </div>
    </div>
    <!-- /.card -->

{% endblock %}